*{
    text-align: center;
}

div {
    border: 2px solid black;
    margin-left: 550px;
    margin-right: 550px;
}

span {
    color: rgb(158, 0, 250);
}

h1 {
    border: 2px solid black;
    margin-left: 450px;
    margin-right: 450px;
}